body {
  height: 100%;
  background: var(--white);
  overflow: auto !important;
  margin: 0;
  color: var(--grey--140);

  font-family: var(--font-display);
  font-size: 1.4rem;
  line-height: 2rem;
}

main {
  padding: var(--padding-lg);
}
